/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */


/* Heading 1 */
.heading1 {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  box-sizing: border-box;
  /* identical to box height */

  color: #000000;
}

/* Heading 1 */
.heading2 {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 110%;
  /* identical to box height, or 77px */
  
  color: #000000;
}

/* Paragraph 1 */
.paragraph1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height */
  
  color: #000000;
}

/* Paragraph 2 */
.paragraph2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 166.02%;
    /* or 46px */
  
  
  color: #000000;
}

/* Button 1 */
.button1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 30px;
  gap: 10px;
  cursor: pointer;

  background: #22AB7A;
  border-radius: 30px;
  border: none;
  color: #F7F7F7;
  text-decoration: none;
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.5);
}

/* Button 1 */
.button2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 99px;
  gap: 10px;
  cursor: pointer; 
  /* Soft Grey */
  
  background: #F7F7F7;
  box-shadow: 0px 12px 6px rgba(0, 0, 0, 0.5);
  border-radius: 31px;
  border:none;
  
  /* Inside auto layout */
  
  flex: none;
  order: 2;
  flex-grow: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 166.02%;
  /* identical to box height, or 37px */
  
  text-align: center;
  text-decoration: none;
  color: #000000;
}

/* Landing */
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;
  overflow: auto;
  
  background: linear-gradient(180deg, rgba(204, 235, 216, 0.8) 0%, rgba(34, 171, 122, 0.8) 100%);
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: fixed;
  background-color: rgba(214, 241, 224);
  border-bottom: 1px solid #22AB7A;
  gap: 20rem;
  z-index: 2;
}

.navButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;

  flex: none;
  order: 1;
  flex-grow: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.hero {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 1rem;
  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.landingCard {
  width: 80%;
  display: flex;
  margin-bottom: 20rem;

  background: #22AB7A;
  box-shadow: 8px 1px 20px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.landingCardSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap:1rem;
  max-width: 50%;
  padding: 4rem;
}

.landingCardSection h2 {
  color: #F7F7F7;
}

.landingCardSection p {
  color: #F7F7F7;
  width: 80%;
}

.landingCardPic {
  min-width: 50%;

  background: url('../images/jason-jarrach-7hO3yb3EzcY-unsplash.jpg');
  border-radius: 0 15px 15px 0;
  background-size: cover;
  background-position: center;
}

.hero2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
  text-align: center;
  gap: 2rem;
}

.hero2 h1{
  color: #F7F7F7;
}

.hero2 p {
  color: #F7F7F7;
}


/* Login */
.googleIcon {
  background: url("../images/google-color-svgrepo-com.svg");
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.loginContainer {
  display: flex;
  height: 100vh;
}

.login {
  background-color: #F7F7F7;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  text-align: center;
  padding-top: 10%;
}

.login input {
  padding: 1rem 10rem 1rem 1rem;
  border-radius: 15px;
  border: 1px solid rgb(19, 94, 67);
}

.newUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  text-align: center;
  color: #F7F7F7;
  max-height: 100vh;
  

  min-width: 40%;
  background-color: rgb(19, 94, 67, 66%);
}

.newUserImg {
  background: url('../images/jason-jarrach-7hO3yb3EzcY-unsplash.jpg');
  background-size: cover;
  background-position: center;
  z-index: -100;
  position: absolute;
  height: 100%;
  width: stretch;
}

.newUser h1 {
  padding-top: 30%;
  color: #F7F7F7;
}

.newUser p {
  color: #F7F7F7;
}

.lineContainer {
  display: flex;
  gap: 1rem;
}

.line {
  width: 10rem;
}

/* Login */
.signupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #22AB7A;
}

.signup {
  background-color: #F7F7F7;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  max-height: 100%;
  padding-top: 10%;
  text-align: center;
}

.signupForm input {
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid rgb(19, 94, 67);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.signupForm input:focus,
.signupForm input:hover {
  outline: none;
  box-shadow: 0 0 5px rgba(19, 94, 67, 0.5);
}

