@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
        width: 0.5rem;
        background-color: transparent;
    }

    .scrollbar-hidden::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}